.container{
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    margin: 10px;
    width: 30%;
    display: block;
    float: left;
    line-height: 1.8;
    justify-content: space-between;
   
}

.container:hover{
    box-shadow: 5px 5px 10px gainsboro;

}
.card-box{
    margin: 5%;
    /* display: flex; */
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    
    
}
button{
    display: inline-block;
    margin: 5px;
    margin-top:12px;
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
    /* background-color: gainsboro; */
    background-color: white;
    cursor: pointer;
}
button:hover{
    background-color: wheat;
    /* color: white; */
    box-shadow: 5px 5px 10px gainsboro;
    /* font-size: 18px; */
}
.btn{
    /* margin-top: 10px; */
    display: flex;
    justify-content: center;
    background-color: rgba(255, 192, 203, 0.249);
    /* justify-content: space-around; */
}
button a{
    text-decoration: none;
    color: black;
}
span{
    color: rebeccapurple;
    display: flex;
    background-color: rgba(255, 192, 203, 0.041);
    align-items: center;
    justify-content: center;
    margin: 0px 5px;
}
h3{
    padding: 5px;
    text-align: center;
    background-color: pink;
    /* border-radius: 5px; */
    color: black;
    font-size: 24px;
    margin-bottom: 2px;
    /* height: 100px; */
}
h4{
    padding: 5px;
    text-align: center;
    background-color: rgba(255, 192, 203, 0.249);
    border-top: 2px solid white;
    /* border-radius: 5px; */
    color: black;
    font-size: 24px;
    /* margin-bottom: 15px; */
    justify-content: center;
  
    /* height: 100px; */
}